/* sec-2 ============================================================================================== */
.section {
  background-color: #2c2c2c;
  color: white;
}

.sec-2 {
  display: flex;
  justify-content: center;
}

.sec-2 > .content-container {
  width: 187.2rem;
}

.sec-2 > .content-container > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 2rem;
  display: flex;
  justify-content: center;
}

.sec-2 > .content-container > h2 > p {
  width: 164rem;
}

.sec-2 > .content-container > .content-wrap {
  display: flex;
  align-items: flex-end;
  gap: 2.4rem;
  padding-bottom: 4.8rem;
}

.sec-2 > .content-container > .content-wrap > .img-box {
  width: 92.5rem;
  height: 70rem;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 1.2rem;
}

.sec-2 > .content-container > .content-wrap > .img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-2 > .content-container > .content-wrap > .text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-weight: medium;
  font-size: 2.4rem;
  text-wrap: nowrap;
  line-height: 1.6;
}
/* sec-4 ============================================================================================== */
.sec-4 {
  display: flex;
  justify-content: center;
}

.sec-4 > .content-container {
  width: 187.2rem;
}

.sec-4 > .content-container > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 2rem;
  display: flex;
  justify-content: center;
}

.sec-4 > .content-container > h2 > p {
  width: 164rem;
}

.sec-4 > .content-container > .content-wrap {
  width: 100%;
}

.sec-4 > .content-container > .content-wrap > .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box-1 {
  background-color: black;
  width: 93rem;
  height: 77rem;
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box-2 {
  background-color: white;
  width: 93rem;
  height: 77rem;
}

.sec-4 > .content-container > .content-wrap > .text-box {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  font-weight: medium;
  font-size: 2.4rem;
  text-wrap: nowrap;
  padding: 9.6rem 2rem;
  line-height: 1.6;
}

.sec-4 > .content-container > .content-wrap > .text-box > .text-item {
  width: 77.6rem;
  display: flex;
  flex-direction: column;
}

.sec-4 > .content-container > .content-wrap > .text-box > .text-kr {
  font-weight: normal !important;
  padding-left: 2rem;
}
/* sec-7 ============================================================================================== */
.sec-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
}
/* container-1 ================================================== */
.sec-7 > .content-container-1 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-1 > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 2rem;
  display: flex;
  justify-content: center;
}

.sec-7 > .content-container-1 > h2 > p {
  width: 164rem;
}

.sec-7 > .content-container-1 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-2 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-2 ================================================== */
.sec-7 > .content-container-2 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-2 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-3 ================================================== */
.sec-7 > .content-container-3 {
  width: 187.2rem;
}

.sec-7 > .content-container-3 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-3 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-3 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-4 ================================================== */
.sec-7 > .content-container-4 {
  width: 187.2rem;
}

.sec-7 > .content-container-4 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-4 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-4 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-5 ================================================== */
.sec-7 > .content-container-5 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-5 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-1 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-2 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-6 ================================================== */
.sec-7 > .content-container-6 {
  width: 187.2rem;
}

.sec-7 > .content-container-6 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-6 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-6 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-7 ================================================== */
.sec-7 > .content-container-7 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-7 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-8 ================================================== */
.sec-7 > .content-container-8 {
  width: 187.2rem;
  height: 95rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-8 > .content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-9 ================================================== */
.sec-7 > .content-container-9 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-9 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-10 ================================================== */
.sec-7 > .content-container-10 {
  width: 187.2rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-10 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
