/* font 국문 프리텐다드 / 영문 어바니스트*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* font-size adjustment */
html {
  font-size: max(8px, 0.5208vw);
}
::selection {
  background-color: var(--primary);
  color: var(--black);
}

/* ----------------------------- Variable ----------------------------- */
:root {
  --primary: #cafa00;
  --secondary: #006cfa;
  --bgColor: #2c2c2c;
  --white: #f5f5f5;
  --black: #222;
}

/* ----------------------------- grid ----------------------------- */
.section {
  display: flex;
  justify-content: center;

  > .content-wrap {
    width: 184rem;

    > .section-header {
      width: 100%;
      padding: 4.8rem 0;

      > h2 {
        font-weight: 700;
        font-size: 8rem;
      }
    }
  }
}

/* body */
body {
  background-color: var(--bgColor);
  color: var(--white);
}

/* section */
.section > .content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > .content-container {
  width: 184rem;
}

.section p {
  line-height: 1.8;
}

.section h2,
h3,
h4,
h5 {
  line-height: 1.3;
}

/* component */
.mouse {
  position: fixed;
  background-color: var(--primary);
  width: 1.2rem;
  height: 1.2rem;
  color: var(--primary);
  border-radius: 9rem;
  top: 2rem;
  left: 2rem;
  pointer-events: none;
  z-index: 1000;

  &.invert {
    background-color: var(--black);
  }
}

/* ----------------------------- loading screen ----------------------------- */
@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.loading-screen.active {
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  transform: scale(1);
  cursor: wait;
}

.loading-screen {
  --loading-time: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #000;
  transition: all 1s;
  visibility: hidden;
  opacity: 0;
  filter: blur(10px);
  transform: scale(1.2);

  .logo-box {
    color: var(--black);
    filter: blur(4px);
    > svg {
      width: 50rem;
    }
  }

  .logo-box.overlay {
    filter: blur(0px);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    overflow: hidden;
    animation: loading var(--loading-time) 1 forwards ease;
  }

  > .text-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  > .percentage {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    font-size: 5rem;

    .number {
      font-weight: 700;
    }
  }
}
/* ----------------------------- go to web btn! ----------------------------- */
.web-btn {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 100;

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px) invert(0.1);
    width: 8rem;
    height: 8rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    box-sizing: border-box;

    color: var(--primary);
    transition: all 0.3s;
  }

  .text {
    font-size: 2rem;
    position: absolute;
    bottom: 50%;
    right: 120%;
    white-space: nowrap;
    padding: 1rem 2rem;
    background-color: #fff;
    color: var(--black);
    border-radius: 5rem;
    z-index: -1;
    font-weight: 600;
    pointer-events: none;

    visibility: hidden;
    opacity: 0;
    transform: translate(20%, 50%);

    transition: all 0.5s;
  }

  &:hover {
    a {
      background-color: rgba(255, 255, 255, 0.25);
    }
    .text {
      visibility: visible;
      opacity: 1;
      transform: translate(0%, 50%);
    }
  }
}

/* ----------------------------- section1 ----------------------------- */
section.sec-1 {
  height: 110dvh;
  position: relative;
  width: 100%;
  overflow: hidden;
}
@keyframes marquee {
  0% {
    transform: translatex(0%);
  }
  100% {
    transform: translatex(calc(-50% - 3rem));
  }
}

@keyframes transformAni {
  0% {
    transform: rotate(-6deg) translatey(-40rem);
    filter: brightness(0) blur(3rem);
    opacity: 0;
  }
  100% {
  }
}

.sec-1 > .title {
  --duration: 1.6s;
  --delay: 0.4s;
  display: flex;
  position: absolute;
  z-index: 2;
  bottom: 26%;
  left: 0;
  text-wrap: nowrap;
  transform: rotate(-6deg) translate(-4rem, 4rem);
  transform-origin: 50vw;
  width: 105vw;
  background-color: var(--primary);
  color: white;
  animation: transformAni var(--duration) 1 var(--delay) both;
  background: linear-gradient(-90deg, var(--primary), var(--secondary));

  .marquee {
    display: flex;
    gap: 6rem;
    animation: marquee 15s linear infinite;
    /* animation-delay: calc(var(--duration) + var(--delay) - 0.1s); */

    h2 {
      font-size: 7.2rem;
      font-weight: 600;
      user-select: none;
    }
  }
}

@keyframes logo-animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
    filter: blur(1rem) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
    filter: blur(0) drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
  }
}
.sec-1 > .logo {
  position: absolute;
  z-index: 3;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  > svg {
    overflow: visible;

    > path {
      color: var(--white);
      filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.5));
      animation: logo-animation 1s 1 both;
    }

    > path:nth-child(8),
    path:nth-child(7) {
      animation-delay: 0.1s;
    }
    > path:nth-child(1) {
      animation-delay: 0.2s;
    }
    > path:nth-child(2) {
      animation-delay: 0.3s;
    }
    > path:nth-child(3) {
      animation-delay: 0.4s;
    }
    > path:nth-child(4) {
      animation-delay: 0.5s;
    }
    > path:nth-child(5) {
      animation-delay: 0.6s;
    }
    > path:nth-child(6) {
      animation-delay: 0.7s;
    }
  }
}
.sec-1 > .bg-video {
  z-index: 0;
  overflow: hidden;
  height: 100dvh;

  > .filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.25), var(--bgColor));
    backdrop-filter: blur(4px);
  }
  > video {
    width: 100vw;
  }
}
/* ----------------------------- section1 end ----------------------------- */
/* sec-2 ============================================================================================== */
.section {
  background-color: #2c2c2c;
  color: white;
}

.sec-2 {
  display: flex;
  justify-content: center;
}

.sec-2 > .content-container > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
}

.sec-2 > .content-container > h2 > p {
  width: 100%;
}

.sec-2 > .content-container > .content-wrap {
  display: flex;
  align-items: flex-end;
  gap: 2.4rem;
  padding-bottom: 4.8rem;
}

.sec-2 > .content-container > .content-wrap > .img-box {
  width: 92.5rem;
  height: 70rem;
  box-sizing: border-box;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 1.2rem;
}

.sec-2 > .content-container > .content-wrap > .img-box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sec-2 > .content-container > .content-wrap > .text-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  text-wrap: nowrap;
  line-height: 1.6;

  > .text-kr {
    font-weight: 400;
  }
}
/* ----------------------------- section background ----------------------------- */
/* text box */
.section > .content-wrap > .text-box {
  width: 164rem;
  padding: 2rem;

  h3 {
    font-size: 4.2rem;
    margin-bottom: 1.6rem;
  }
  p {
    font-size: 2.2rem;
    font-weight: 500;
  }

  p:first-of-type {
    margin-bottom: 2.4rem;
  }
}

/* graph */
.source-label {
  display: inline-block;
  margin-top: 1.2rem;
  font-size: 1.4rem;
  color: #aaa;
}

/* graph general */
.sec-background > .content-wrap {
  padding-bottom: 8rem;

  > .graph-con {
    display: flex;
    gap: 1.2rem;
    width: 100%;
    margin-top: 5rem;

    .graph-box {
      flex: 1 1 0;
      text-align: center;

      .inner {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background-color: #222;
        height: 60rem;
        border-radius: 2.4rem;
        overflow: hidden;
        padding: 2.4rem;

        > span {
          text-align: right;
          font-size: 1.8rem;
          font-weight: 700;
          color: #999;
        }
      }

      h4 {
        font-size: 2.4rem;
      }
    }
  }
}

/* graph chart general */
.sec-background .graph {
  display: flex;
  position: relative;
  box-sizing: border-box;
  height: 100%;

  .circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    background-color: #f7f7f7;
    color: #000;
    border-radius: 99rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.4rem;
    font-weight: 700;

    > .year-label {
      position: absolute;
      top: -4rem;
      left: 50%;
      transform: translateX(-50%);
      color: #b8b8b8;
      font-size: 2.4rem;

      > span {
        display: inline-block;
        padding-left: 0.4rem;
        font-size: 2.2rem;
      }
    }
  }
}

/* box 1 graph */
.sec-background .graph-box.box-1 .graph {
  .circle-1 {
    background-color: #b9b9b9;
    color: #111;
    left: 10rem;
  }
  .circle-2 {
    left: 18rem;
    width: 30rem;
    height: 30rem;
    font-size: 8rem;
    .year-label {
      color: #f7f7f7;
      font-size: 3.2rem;
      top: -5rem;
    }
  }
}

/* box 2 graph  */
.sec-background .graph-box.box-2 .graph {
  .circle-1 {
    left: 0.5rem;
    background-color: #666;
  }
  .circle-2 {
    left: 8rem;
    background-color: #b9b9b9;
    width: 20rem;
    height: 20rem;
    font-size: 4.2rem;
  }
  .circle-3 {
    left: 24.5rem;
    background-color: #f7f7f7;
    width: 30rem;
    height: 30rem;
    font-size: 8rem;
    .year-label {
      color: #f7f7f7;
      font-size: 3.2rem;
      top: -5rem;
    }
  }
}

/* box 3 bar chart */
.sec-background .graph-box.box-3 .inner {
  font-size: 2.4rem;
  font-weight: 700;
  h5 {
    font-size: 2.4rem;
    text-align: start;
  }

  .bar-outter {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 7.2rem;
    border-radius: 9rem;
    overflow: hidden;

    .bar-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: #f7f7f7;
      color: #111;
      padding: 0 1.2rem;
      border-radius: 9rem;
    }
  }

  .top {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;

    .bar-outter > .bar-inner {
      width: 89%;
      justify-content: end;
    }
  }

  .bottom {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.6rem;

    .bar-outter:nth-child(2) > .bar-inner {
      width: 40%;
      color: #333;
      background-color: #999;
    }
    .bar-outter:nth-child(3) > .bar-inner {
      width: 80%;
      justify-content: end;
    }
  }
}
/* ----------------------------- section user research ----------------------------- */
.sec-user-research {
  .box {
    position: relative;
    margin-top: 5rem;

    .img-box > img {
      object-fit: cover;
    }

    .card {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45rem;
      height: 23rem;
      box-sizing: border-box;
      border-radius: 2.4rem;
      padding: 2.4rem;

      background-color: var(--secondary);
      color: var(--white);
      box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
      /* transform: translate(-50%,-50%); */

      font-size: 2rem;
      font-weight: 500;
      text-align: center;

      h5 {
        font-size: 2.8rem;
        font-weight: 700;
      }
    }

    .card-1 {
      top: 10%;
      left: 30%;
    }
    .card-2 {
      top: 26%;
      left: 50%;
    }
    .card-3 {
      top: 43%;
      left: 30%;
    }
    .card-4 {
      top: 61%;
      left: 50%;
    }
  }
}
/* ----------------------------- section problem ----------------------------- */
.sec-problem {
  padding: 8rem 0;
}
.sec-problem .box-container {
  display: flex;
  gap: 1.2rem;
  width: 100%;

  margin: 5rem 0;

  .box {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;

    box-sizing: border-box;
    border: 1px solid #ee4141;
    border-radius: 2.4rem;
    background-color: #222;

    padding: 4.8rem 2.4rem;

    font-size: 2.4rem;
    font-weight: 700;

    .numb {
      font-size: 4.2rem;
      color: #ee4141;
    }
  }
}

/* ----------------------------- section insight ----------------------------- */
.sec-insight {
  padding-bottom: 8rem;
  text-align: center;

  .svg-box path {
    transform-origin: center;
  }

  .text-box {
    max-width: 120rem;
  }
}

.sec-insight .box-container {
  display: flex;
  gap: 1.2rem;
  width: 100%;
  margin: 5rem 0;

  > .box {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    border: 1px solid var(--primary);
    border-radius: 2.4rem;
    padding: 4.8rem 2.4rem;

    background-color: #222;
    font-size: 2.4rem;
    font-weight: 500;
  }
}
/* ----------------------------- section solution ----------------------------- */
.sec-solution {
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;

  background-color: var(--primary);
  color: var(--black);

  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;

  p {
    position: relative;

    .overlay {
      display: block;
      width: 100%;
      white-space: nowrap;
    }
  }
}
/* ----------------------------- section persona ----------------------------- */
.sec-persona {
  padding: 8rem 0;

  .box-container {
    display: flex;
    gap: 1.2rem;
    margin-top: 5rem;

    font-size: 1.8rem;

    .box {
      box-sizing: border-box;
    }
  }
}

.sec-persona .box {
  .top {
    display: flex;
    gap: 2.4rem;

    .text-box {
      h3 {
        font-size: 3.2rem;
        margin: 2.4rem 0 0.6rem;
      }
      h4 {
        font-size: 2.4rem;
        margin-bottom: 0.6rem;
      }
      p {
        margin-top: 6rem;
        font-size: 2.4rem;
      }
    }

    .img-box {
      display: flex;
      border-radius: 2.4rem;
      overflow: hidden;

      img {
        width: 30rem;
        height: 30rem;
      }
    }
  }

  .bottom {
    margin-top: 2.4rem;

    h3 {
      font-size: 2.4rem;
      margin-bottom: 2.4rem;
    }
    p {
      line-height: 2;
    }

    .text-box {
      border: 1px solid var(--white);
      border-radius: 1.2rem;
      padding: 3.6rem;
      margin-top: 3.6rem;
      text-align: center;

      font-size: 2.8rem;

      transition: all 0.3s;

      &:hover {
        background-color: #333;
      }
    }
  }
}
/* ----------------------------- section service ----------------------------- */
.sec-service {
  padding-bottom: 8rem;
}

.sec-service .box-container {
  display: flex;
  gap: 1.2rem;
  margin-top: 5rem;

  .box {
    flex: 1 1 0;
    padding: 4.8rem 2.4rem;
    text-align: center;
    border-radius: 2.4rem;
    background-color: #333;

    h4 {
      display: flex;
      justify-self: center;
      font-weight: 700;
      font-size: 4rem;
      padding: 2rem 0;
      color: transparent;
      background: linear-gradient(-90deg, var(--primary), var(--secondary));
      background-clip: text;
      -webkit-background-clip: text;
    }
    p {
      font-weight: 600;
      font-size: 2.4rem;

      &:first-of-type {
        height: 13rem;
        margin-bottom: 2.4rem;
      }
    }
  }
}
/* ----------------------------- section IA ----------------------------- */
.sec-info-arch > .content-wrap > .text-box {
  padding: 8rem 0;
}
.sec-info-arch > .content-wrap .sticky-area {
  width: 100%;
}

.sec-info-arch .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  width: 100%;
  border-bottom: 1px solid #fff;
  margin-bottom: 2.4rem;
  padding: 0 1.2rem;

  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.8;

  .gb-1 {
    grid-area: gb1;
  }
  .gb-2 {
    grid-area: gb2;
  }
  .gb-3 {
    grid-area: gb3;
  }
  .gb-4 {
    grid-area: gb4;
  }
  .gb-5 {
    grid-area: gb5;
  }
  .gb-6 {
    grid-area: gb6;
  }
  .gb-7 {
    grid-area: gb7;
  }
  .gb-8 {
    grid-area: gb8;
  }
  .gb-9 {
    grid-area: gb9;
  }
  .gb-10 {
    grid-area: gb10;
  }
  .gb-11 {
    grid-area: gb11;
  }
  .gb-12 {
    grid-area: gb12;
  }
  .gb-13 {
    grid-area: gb13;
  }
}

.sec-info-arch .grid-box.table {
  position: relative;
  grid-template-areas: "d1 d2 d3";
  border-bottom: none;
  background-color: var(--bgColor);

  .d-1,
  .d-2,
  .d-3 {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 2.4rem 0;

    span {
      color: var(--primary);
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    inset: 100% 0 auto;
    height: 1px;
    background: linear-gradient(-90deg, var(--primary), var(--secondary));
  }

  .d-1 {
    grid-area: d1;
  }
  .d-2 {
    grid-area: d2;
  }
  .d-3 {
    grid-area: d3;
  }
}

.sec-info-arch .grid-box.box-1 {
  grid-template-areas:
    "gb1 gb2 gb3"
    ". . gb4"
    ". . gb5";
  .gb-5 {
    margin-bottom: 2.4rem;
  }
}
.sec-info-arch .grid-box.box-2 {
  grid-template-areas:
    "gb1 gb2 gb3"
    ". . gb4"
    ". gb5 gb6"
    ". . gb7";

  .gb-4,
  .gb-7 {
    margin-bottom: 2.4rem;
  }
}
.sec-info-arch .grid-box.box-3 {
  grid-template-areas:
    "gb1 gb2 gb3"
    ". . gb4"
    ". gb5 gb6"
    ". . gb7"
    ". gb8 gb9"
    ". . gb10"
    ". gb11 gb12"
    ". . gb13";

  .gb-4,
  .gb-7,
  .gb-10,
  .gb-13 {
    margin-bottom: 2.4rem;
  }
}
.sec-info-arch .grid-box.box-4 {
  grid-template-areas:
    "gb1 gb2 gb3"
    ". . gb4"
    ". . gb5"
    ". gb6 gb7"
    ". . gb8"
    ". gb9 gb10"
    ". . gb11";

  .gb-5,
  .gb-8,
  .gb-11 {
    margin-bottom: 2.4rem;
  }
}

/* ----------------------------- section 3 ----------------------------- */

/* sec-3 box common*/
.sec-3 > .content-wrap > .box {
  width: 100%;
  height: 80rem;

  /* font weight */
  .weight-regular {
    font-weight: 400;
  }
  .weight-medium {
    font-weight: 500;
  }
  .weight-semibold {
    font-weight: 600;
  }
  .weight-bold {
    font-weight: 700;
  }
  .size-large {
    font-size: 4.2rem;
  }
  .size-medium {
    font-size: 1.8rem;
  }
  .size-small {
    font-size: 1.4rem;
  }
}

/* left */
.sec-3 > .content-wrap > .box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20rem;
}
.sec-3 > .content-wrap > .box > .left {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec-3 > .content-wrap > .box > .left > .top {
  display: inline-block;
}
.sec-3 > .content-wrap > .box > .left > .top > .description {
  font-weight: 700;
  font-size: 2.2rem;
}
.sec-3 > .content-wrap > .box > .left > .top > .font-name {
  font-weight: 700;
  font-size: 12.8rem;
  line-height: 1.2;
}
.sec-3 > .content-wrap > .box > .left > .top > .font-weight {
  display: flex;
  justify-content: space-between;
  width: 49rem;
  font-size: 1.8rem;
  padding-top: 3.6rem;
  border-top: var(--white) solid 0.1rem;
}
.sec-3 > .content-wrap > .box > .left > .bottom {
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.sec-3 > .content-wrap > .box > .left > .bottom > .left > .font-size,
.sec-3 > .content-wrap > .box > .left > .bottom > .right {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* right */
.sec-3 > .content-wrap > .box > .right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 60rem;
  line-height: 0.7;
}

/* box-2 */
.sec-3 > .content-wrap > .box-2 {
  font-family: "DM Serif", serif;
}
.sec-3 > .content-wrap > .box-2 > .left > .top > .description {
  font-family: "Urbanist", sans-serif;
}
.sec-3 > .content-wrap > .box-2 > .left > .top > .font-weight {
  width: 57rem;
}
.sec-3 > .content-wrap > .box-2 > .left > .bottom > .right {
  padding-right: 3rem;
}
.sec-3 > .content-wrap > .box-2 > .right {
  line-height: 0.85;
}

/* box-3 */
.sec-3 > .content-wrap > .box-3 {
  font-family: "Pretendard", sans-serif;
}
.sec-3 > .content-wrap > .box-3 > .left > .top > .description {
  font-family: "Urbanist", sans-serif;
}
.sec-3 > .content-wrap > .box-3 > .left > .top > .font-weight {
  width: 67rem;
}

/* ----------------------------- section 3 end -----------------------------*/

/* sec-4 ============================================================================================== */
.sec-4 {
  display: flex;
  justify-content: center;
}

.sec-4 > .content-container > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
}

.sec-4 > .content-container > h2 > p {
  width: 100%;
}

.sec-4 > .content-container > .content-wrap {
  width: 100%;
}

.sec-4 > .content-container > .content-wrap > .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

/* sec-4 svg line animation */
.sec-4 > .content-container > .content-wrap > .img-container.animate-init {
  > .img-box svg {
    .st1 {
      stroke-width: 0;
    }
    .st2 {
      stroke-width: 0;
    }
  }
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.4rem;
  cursor: pointer;
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box-1 {
  background-color: black;
  width: 93rem;
  height: 77rem;

  svg {
    width: 70rem;

    .st0 {
      clip-path: url(#SVGID_00000128474458227812408960000015076984062995758783_);
    }
    .st1 {
      fill: #ffffff;
    }
    .st2 {
      fill: none;
      stroke: #ffffff;
      stroke-width: 0.1rem;
      stroke-miterlimit: 10;
    }
    .st3 {
      fill: #ffffff;
    }
    .st4 {
      fill: none;
      stroke: #ffffff;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
  }
}

.sec-4 > .content-container > .content-wrap > .img-container > .img-box-2 {
  background-color: white;
  width: 93rem;
  height: 77rem;

  svg {
    width: 55rem;

    .st0 {
      clip-path: url(#SVGID_00000152982101255659929970000002474586680019226013_);
    }
    .st1 {
      fill: none;
      stroke: #000;
      stroke-width: 0.1rem;
      stroke-linecap: round;
      stroke-miterlimit: 10;
    }
    .st2 {
      enable-background: new;
    }
    .st3 {
      fill: #000000;
    }
    .st4 {
      fill: #000000;
    }
    .st5 {
      fill: #000000;
    }
  }
}

.sec-4 > .content-container > .content-wrap > .text-box {
  display: flex;
  justify-content: center;
  gap: 4.8rem;
  font-weight: medium;
  font-size: 2.4rem;
  text-wrap: nowrap;
  padding: 9.6rem 2rem;
  line-height: 1.6;
}

.sec-4 > .content-container > .content-wrap > .text-box > .text-item {
  width: 77.6rem;
  display: flex;
  flex-direction: column;
}

.sec-4 > .content-container > .content-wrap > .text-box > .text-kr {
  font-weight: normal !important;
  padding-left: 2rem;
}

/* ----------------------------- section 5 ----------------------------- */
.sec-5 {
  background-color: var(--white);
  color: var(--black);
  padding: 8rem 0;
}
/* change span to inline-block for aos animation */
.sec-5 span {
  display: inline-block;
}

.sec-5 > .content-wrap {
  > .box {
    display: flex;
    gap: 2.4rem;
    width: 100%;

    .svg-container {
      display: flex;
      align-items: center;
      flex-grow: 1;

      > .svg-box {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .title {
      font-size: 42px;
      font-weight: 700;
      border-bottom: var(--black) solid 0.1rem;
    }
    > .left {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    > .right {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

.sec-5 > .content-wrap > .box {
  height: 78rem;
}
.sec-5 > .content-wrap > .box-2 > .left > .svg-container {
  flex-direction: column;
}
/* ----------------------------- section 5 end ----------------------------- */
/* ----------------------------- section 6 ----------------------------- */
/* sec-6 common setting */
.sec-6 > .content-wrap > .box {
  display: flex;
  width: 100%;
  height: 16rem;
  gap: 1.2rem;
  margin-bottom: 1.2rem;

  .left,
  .right {
    display: flex;
    width: 100%;
    gap: 1.2rem;
  }

  /* section 6 color box */
  .color {
    border-radius: 2.4rem;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
  }

  .primary {
    background-color: var(--primary);
    color: var(--black);
    flex-grow: 2;
    transform-origin: bottom;
  }
  .secondary {
    background-color: var(--secondary);
  }
  .Bg-color {
    background-color: var(--bgColor);
  }
  .mono-tone-gray {
    background-color: var(--white);
    color: var(--black);
  }
  .mono-tone-black {
    background-color: var(--black);
  }
  .gradient {
    background: linear-gradient(-90deg, var(--primary), var(--secondary));
    color: var(--black);
  }
}

/* section 6 text box */
.sec-6 > .content-wrap > .box .text-box {
  position: absolute;
  bottom: 2rem;
  right: 2.4rem;
  text-align: right;

  > h4 {
    font-size: 4.2rem;
    font-weight: 700;
  }
  > h5 {
    font-size: 2rem;
    font-weight: 600;
  }
  > p {
    font-size: 2rem;
    font-weight: 500;
  }
}

.sec-6 > .content-wrap > .box-1 {
  height: 40rem;
}
/* sec-6 color grow ani--init */
.sec-6 > .content-wrap > .box-1.animate-init {
  .color.primary::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 100%;
    height: 102%;
    background-color: var(--bgColor);
  }
  .color.secondary::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: 0;
    width: 100%;
    height: 102%;
    background-color: var(--bgColor);
  }
  .color.Bg-color {
    border: var(--bgColor) solid 0.2rem;
  }
  .color.Bg-color::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 101%;
    height: 101%;
    background-color: var(--bgColor);
  }
}
.sec-6 > .content-wrap > .box-2.animate-init {
  .color.mono-tone-gray::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
  }
  .color.mono-tone-black {
    border: var(--bgColor) solid 0.2rem;
  }
  .color.mono-tone-black::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 102%;
    height: 102%;
    background-color: var(--bgColor);
  }
}
.sec-6 > .content-wrap > .box-3.animate-init {
  .color.gradient::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgColor);
  }
}

/* sec-6 color grow ani */
/* === set transition here ===*/
.sec-6 {
  --transition-time: 0.8s;
  --transition-time-horizontal: 1.2s;
}
.sec-6 > .content-wrap > .box-1.animate {
  .color.primary::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--bgColor);
    transition: all var(--transition-time) 0.2s;
  }
  .color.secondary::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--bgColor);
    transition: all var(--transition-time) 0.4s;
  }
  .color.Bg-color {
    border: #aaaaaa solid 0.2rem;
    transition: all var(--transition-time) 1.5s;
  }
  .color.Bg-color::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 101%;
    height: 0%;
    background-color: var(--bgColor);
    transition: all var(--transition-time) 0.6s;
  }
}
.sec-6 > .content-wrap > .box-2.animate {
  .color.mono-tone-gray::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bgColor);
    transition: all var(--transition-time-horizontal) 0.2s;
  }
  .color.mono-tone-black {
    border: var(--primary) solid 0.2rem;
    transition: all var(--transition-time) 1.5s;
  }
  .color.mono-tone-black::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.2rem;
    left: -0.2rem;
    width: 0%;
    height: 102%;
    background-color: var(--bgColor);
    transition: all var(--transition-time-horizontal) 0.4s;
  }
}
.sec-6 > .content-wrap > .box-3.animate {
  .color.gradient::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bgColor);
    transition: all var(--transition-time-horizontal) 0.2s;
  }
}

/* sec-6 box-4 */
.sec-6 > .content-wrap > .box-4 {
  height: 90rem;
  margin-top: 6rem;

  > div {
    flex-direction: column;
  }

  > .left {
    flex: 2 1 0;
    width: auto;
  }

  > .middle {
    display: flex;
    flex: 1 1 0;
    gap: 1.2rem;
  }

  > .right {
    flex: 1 1 0;
    width: auto;
  }

  .img-box {
    display: flex;
    flex-grow: 1;
    background-color: var(--black);
    border-radius: 2.4rem;

    > img {
      object-fit: contain;
      object-position: center;
      width: 100%;
    }
  }

  .img-box-1 {
    flex: 1 1 0;
  }
  .img-box-2 {
    display: flex;
    justify-content: center;
    flex: 2 1 0;
    > img {
      width: 64%;
    }
  }
  .img-box-5 {
    > img {
      transform: scale(0.8);
    }
  }
}
/* ----------------------------- section 6 end ----------------------------- */

/* sec-7 ============================================================================================== */
.sec-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  padding-bottom: 1.2rem;
}
/* container-1 ================================================== */
.sec-7 > .content-container-1 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-1 > h2 {
  font-size: 8rem;
  font-weight: bold;
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
}

.sec-7 > .content-container-1 > h2 > p {
  width: 100%;
}

.sec-7 > .content-container-1 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-1 > .mockup-item-split-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-2 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-1 > .content-wrap > .mockup-box-2 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-2 ================================================== */
.sec-7 > .content-container-2 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-2 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-2 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-1 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-2 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-3 ================================================== */
.sec-7 > .content-container-3 {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}
.sec-7 > .content-container-3 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-3 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-3 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sec-7 > .content-container-3 > .content-wrap > .mockup-box-1 > video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-4 ================================================== */
.sec-7 > .content-container-4 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-4 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-4 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-5 ================================================== */
.sec-7 > .content-container-5 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-5 > .content-wrap {
  width: 100%;
  height: 95rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-1 {
  width: 50%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-1 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-2 {
  width: 100%;
  height: 50%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-5 > .content-wrap > .mockup-box-2 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-6 ================================================== */
.sec-7 > .content-container-6 > .content-wrap {
  width: 100%;
  height: 95rem;
}

.sec-7 > .content-container-6 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-6 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-7 ================================================== */
.sec-7 > .content-container-7 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-7 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-7 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-8 ================================================== */
.sec-7 > .content-container-8 {
  height: 95rem;
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-8 > .content-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-1 > .mockup-item-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-8 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-9 ================================================== */
.sec-7 > .content-container-9 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-9 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-9 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* container-10 ================================================== */
.sec-7 > .content-container-10 {
  display: flex;
  flex-direction: column;
}

.sec-7 > .content-container-10 > .content-wrap {
  width: 100%;
  height: 70rem;
  display: flex;
  gap: 1.2rem;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-1 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-1 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-2 {
  width: 100%;
  height: 100%;
  border-radius: 2.4rem;
  overflow: hidden;
  box-sizing: border-box;
}

.sec-7 > .content-container-10 > .content-wrap > .mockup-box-2 > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
    /* footer ------------------------------ */
    .footer {
      width: 100%;
      height: 100%;
      padding: 1.2rem;
      box-sizing: border-box;
      background-color: #111;
    }

    .footer > .footer-container {
      font-family: "Urbanist";
      width: 100%;
      max-width: 187.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
    }

    .footer > .footer-container > .text-box {
      font-size: 12.8rem;
      font-weight: 700;
    }

    .footer > .footer-container > .gradientLogo-wrapper {
      width: 49.4rem;
      height: 36.2rem;
      box-sizing: border-box;
      overflow: hidden;
    }

    .footer > .footer-container > .gradientLogo-wrapper > img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .footer > .footer-container > .team-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3.6rem;
    }

    .footer > .footer-container > .team-box > .team-name {
      font-size: 6.4rem;
      font-weight: 600;
    }

    .footer > .footer-container > .team-box > .team-unit {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 9.6rem;
      font-size: 2.8rem;
      font-weight: 500;
    }

    .footer > .footer-container > .period-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      margin-top: 3rem;
    }

    .footer > .footer-container > .period-box > .img-box {
      width: 12.4rem;
      height: 2.9rem;
      box-sizing: border-box;
      overflow: hidden;
    }

    .footer > .footer-container > .period-box > .img-box > img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    .footer > .footer-container > .period-box > span {
      font-size: 2rem;
      font-weight: 500;
    }
    